{% load static %}

<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static "scoring/style.css" %}" rel="stylesheet" type="text/css" media="screen" />

    <title>Deschutes Demo Score Input</title>
  </head>
<html lang="en">

<div class="jumbotron">
  <div align="center">
  <img src="{% static "scoring/dd-header.gif" %}" width="1600" height="200"/>
  </div>
</div>
<form action="testPage" method="post">



{% for team in setOfTeams %}

  <div class="form-row">
    
   
    <div class="col-1">
       {{team.teamID}}
    </div>

    <div class="col">
 
      <input type="text" class="form-control" placeholder="Minutes">
    </div>
    <div class="col">

      <input type="text" class="form-control" placeholder="Seconds">
    </div>
    <div class="col">

      <input type="text" class="form-control" placeholder="Reps">
    </div>
    <div class="col">

      <input type="text" class="form-control" placeholder="Weight">
    </div>
  </div>
<hr>
{% endfor %}



  <button class="btn btn-primary" type="submit">Submit form</button>

</form>